:root {
    --accent-color: #2196f3;
    --text-color-p: #524949; /*text color */
    --text-color-h: #16018d; /*header color */
    --text-color-hover: #ffffff;
    --bg-color-section: #ffffff;
    --bg-color-btn: #16018d;
    --text-color-btn: #fdf90f;
    --bg-color-btn-hover: #fdf90f;
    --text-color-btn-hover: #16018d;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.17;
    color: var(--text-color-p);
    background-color: var(--bg-color-section);
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.section {
    margin: 0 auto;
    /* background-color: var(--bg-color-section); */
    background-image: linear-gradient(rgb(93 196 255 / 45%), rgb(255 250 102 / 37%));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section__title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 50px;
    width: 100%;
    color: var(--text-color-h);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.03em;
}
.boxes {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    /* background-color: var(--accent-color); */
}
.box__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--text-color-h);
    text-align: center;
}
.box {
    position: relative;
    width: 40%;
    height: 300px;
    border: 1px dotted var(--text-color-p);
    margin: 0px 20px 0;
    display: flex;
    flex-flow: column;
}
.box__info,
.box__info--topping {
    width: 100%;
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;

    border: 1px dotted var(--text-color-p);
    padding: 10px;
    text-align: center;
}
.box__info--size,
.box__info--price {
    font-weight: 700;
}
.visibility {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%);
}
.toppings {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.checkbox-variant {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}
.topping-select-1,
.topping-select-2 {
    margin-bottom: 5px;
    width: 250px;
    height: 40px;
}
.btn {
    width: 200px;
    height: 40px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid var(--text-color-p);
    cursor: pointer;
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-edit,
.btn-close {
    margin: 0;
    margin-right: 1px;
    padding: 0;
    width: 35px;
    height: 100%;
    background-color: inherit;
    fill: var(--bg-color-btn);
    border: none;
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}
svg.btn-edit,
svg.btn-close {
    height: inherit;
}
.btn-edit:hover,
.btn-close:hover,
.btn-edit:focus,
.btn-close:focus {
    background-color: var(--bg-color-btn);
    fill: var(--bg-color-btn-hover);
}
.order-btn:hover,
.order-btn:focus {
    background-image: linear-gradient(rgb(93, 196, 255), rgb(255, 250, 102));
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger {
    display: flex;
    width: 100px;
    height: 45px;
    border-radius: 2%;
    font-size: 30px;
}

#toppings_button {
    display: flex;
    justify-content: space-around;
}

.topp_btn {
    width: 100px;
    height: 45px;
    border-radius: 2%;
    font-size: 16px;
}

#counter {
    display: flex;
    justify-content: space-around;
}

.counter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 2%;
    border: 1px solid blue;
}

#counter__price {
    font-size: 18px;
}
